
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home' %}">About</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        {% if not user.is_authenticated %}
        <li>
          <div class="navbar-text">
            <a href="{% url 'sign_in' %}">Sign in</a> or <a href="{% url 'sign_up' %}">Sign up</a>
          </div>
        </li>
        {% else %}
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <img src="{{ user.profile.gravatar_url_small }}" class="avatar"></img>
          {{ user.username }}
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu text-right">
          <li><a href="{% url 'profile' %}">Profile</a></li>
          <li><a href="{% url 'bookmarks' %}">Bookmarks</a></li>
          <li>
            <a href="{% url 'notifications' %}">
              {% if user.profile.get_unread_messages_count > 0 %}
                <span class="badge pull-left">{{ user.profile.get_unread_messages_count }}</span>
              {% endif %}
              Notifications
            </a>
          </li>
          <li class="divider"></li>
          <li><a href="{% url 'sign_out' %}">Sign out</a></li>
        </ul>
        </li>
        {% endif %}
      </ul>

      <form class="navbar-form navbar-right" role="search" action="/search/" method="get">
        {% csrf_token %}
        <div class="form-group">
          <input type="text" name="q" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
    </div>
  </div>
</nav>
