{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    {% block imported_css %}
      <link rel="stylesheet" href="{% static 'vendor/bootstrap/3.1.1/css/bootstrap.min.css' %}">
    {% endblock %}

    {% block custom_css %}
      <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
    {% endblock %}

  </head>

  <body>
    {% include 'base/_nav.html' %}

    <div class="body-content">
      {% block content_wrapper %}
        {% if messages %}
          <div class="messages">
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              {{ message }}
            </div>
          {% endfor %}
          </div>
        {% endif %}

        <div class="container">
          {% block content %}
          {% endblock %}
        </div>
      {% endblock %}
    </div>

    <div class="footer">
      <ul class="pull-left">
          <li><a href="#">About</a></li>
          <li>&middot;</li>
          <li><a href="#">Support</a></li>
          <li>&middot;</li>
          <li><a href="#">Terms</a></li>
      </ul>
      <span class="copyring pull-right">
          &copy; 2014, ITechArt
      </span>
    </div>

    {% block imported_scripts %}
      <script src="{% static 'vendor/jquery/jquery-1.11.1.min.js' %}"></script>
      <script src="{% static 'vendor/bootstrap/3.1.1/js/bootstrap.min.js' %}"></script>
    {% endblock %}

    {% block custom_scripts %}
      <script src="{% static "js/core.js" %}"></script>
    {% endblock %}
  </body>
</html>
