{% extends 'base/base.html' %}

{% block content_wrapper %}
<div class="container-fluid ">
  <div class="row">
    <div class="col-md-2 sidebar">
      <ul class="nav nav-sidebar affix">
        <h3 class="disabled">Categories</h3>
        <hr>
        <li{% if not category %} class="active"{% endif %}>
          <a href="/articles/{% if sort_method %}{{ sort_method }}{% else %}recent{% endif %}">
              ALL
          </a>
        </li>
        <hr>
        {% for c in categories %}
        <li{% if c.id == category.id %} class="active"{% endif %}>
          <a href="/articles/{% if sort_method %}{{ sort_method }}{% else %}recent{% endif %}/{{ c }}">
            {{ c|upper }}
          </a>
        </li>
        <hr>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-10 main">
      {% if messages %}
        <div class="messages">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
          </div>
        {% endfor %}
        </div>
      {% endif %}

      {% block content %}
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}
