
body, html {
  height: 93%;
}

.gray {
  color: #666;
}

.body-content {
  min-height: 93%;
}

.navbar-brand {
  font-size: 2.9em;
}

.footer {
  z-index: 1000;
  position: absolute;
  height: 7%;
  width: 100%;
  background-color: #d3d5db;
  margin-top: 30px;
  margin-bottom: 0;
  color: #444;
  font-size: 80%;
  text-align: center;
  padding-top: 15px;
}

.footer ul li {
  list-style: none outside;
  display: inline-block;
  padding: 0 10px;
}

.copyring {
  margin-right: 40px;
}

.header-logo {
  font-size: 60pt
}

.jumbotron {
  margin-bottom: 0;
  margin-top: 70px;
}

.alert {
  text-align: center;
}

.form-signin, .form-signup {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin h2, .form-signup h2 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 10px;
}

.form-signin input, .form-signup input {
  margin: 5px;
}

.form-signin button, .form-signup button {
  margin: 5px;
  margin-top: 10px;
}

.body-content {
  margin-top: 55px;
}

.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 500;
    display: block;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 1.4em;
  }

  .sidebar h3 {
    font-size: 1.3em;
    margin: 20px;
    margin-top: 30px;
    margin-left: 15px;
    color: #999
  }

  .sidebar .nav-sidebar {
    background-color: #f5f5f5;
    border-width: 1px;
    border-color: #ddd;
    margin-top: -10px;
    width: inherit;
    height: 100%;
  }

  .sidebar hr {
    margin: 5px;
  }
}

.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}

.dropdown-menu .pull-right {
  text-align: left;
}

ul.nav-tabs {
  margin-top: 15px;
  margin-bottom: 15px;
}

#pagination-hr {
  margin-bottom: 0;
}

.label-category {
  margin: 20px;
}

.article-info {
  padding: 5px 10px 5px 10px;
  font-size: 85%;
}

.article-date-views {
  float: left;
  width: 30%;
}

.article-tags {
  float: right;
}

.article-title {
  margin: 2px;
}

.article-preview-image {
  float: right;
  width: 22%;
}

.article-preview-body {
  float: left;
  width: 74%;
  margin: 10px;
}

.annotation {
  margin: 25px 0 25px 0;
}

.article-preview-footer {
  margin-top: 15px;
}

.article-image {
  float: left;
}

.page-header {
  margin: 0 20px 0 20px;
}

.article-full-title {
  float: left;
  width: 80%;
}

.article-full-important {
  float: right;
  width: 20%;
}

.article-full-left {
  float: left;
  width: 71%;
  margin: 20px 0 20px 20px;
  padding-right: 30px;
}

.article-full-right {
  float: right;
  margin: 20px 20px 20px 0;
  width: 25%;
}

.article-full-footer {
  margin-top: 20px;
  vertical-align: bottom;
}

.article-full-footer .like-button {
  padding-left: 30px;
  padding-right: 30px;
}

.article-share {
  width: 210px;
  height: inherit;
  float: right;
  padding: 6px;
}

.twitter-share-button {
  margin: 0;
  float: left;
}

.fb-share-button {
  margin: 0;
  float: right;
}

.tag {
  margin-left: 5px;
}

.image-wrapper {
  margin: 0 15px 15px 0;
  overflow: hidden;
  text-align: center;
}

.image-small-wrapper {
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.image-middle-wrapper {
  width: 100px;
  height: 100px;
  line-height: 100px;
}

.image-big-wrapper {
  width: 200px;
  height: 200px;
  line-height: 200px;
}

.image-article-wrapper {
  width: 270px;
  height: 270px;
  line-height: 200px;
}

.image-avatar-wrapper {
  width: inherit;
  height: 200px;
  line-height: 200px;
}

.image {
  max-height: 100%;
  margin: -100%;
}

.image-modal {
  max-width: 100%;
  max-height: 100%;
}

.comments-container {
  margin-left: 20px;
  width: 68%;
}

.comments-segment {
  padding: 20px;
}

.comment-form {
  margin-top: 20px;
}

.comments-segment textarea {
  resize: inherit;
}

.comment-buttons {
  float: right;
  width: inherit;
  vertical-align: middle;
}

.no-comments-message {
  text-align: center;
  font-color: #777;
}

.avatar {
  width: 20px;
  height: 20px;
  border-radius: 50% 50% 50% 50%;
}

.avatar-middle {
  width: 100px;
  height: 100px;
  border-radius: 50% 50% 50% 50%;
  margin-right: 10px;
}

.avatar-big {
  width: 200px;
  height: 200px;
  border-radius: 50% 50% 50% 50%;
  margin: 0 0 15px 10px;
}

.profile-edit-picture-block {
  float: right;
  padding-right: 50px;
  border-style: solid;
  border-width: 0 1px 0 0;
  border-right-color: #aaa;
}

.profile-edit-form {
  float: left;
  margin-left: 50px;
}

.btn-update {
  width: 100;
  margin-top: 10px;
}

.user-header {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.user-picture-block {
  float: right;
  padding-right: 50px;
  border-style: solid;
  border-width: 0 1px 0 0;
  border-right-color: #aaa;
}

.user-info {
  float: left;
  margin-left: 40px;
}

.alert-danger {
  margin: 5px 0 5px 5px;
}
