<a href="{% url 'article' article.id %}" class="list-group-item">
  <span>{{ article.title }}</span>
  <span class="pull-right">
    <span class="small gray">
      <span><b>{{ article.get_likes_count }}</b> likes,</span>
      <span><b>{{ article.get_views_count }}</b> views</span>
    </span>
  </span>
</a>

