{% extends 'base/base.html' %}

{% block title %}About | Bookmarks{% endblock %}

{% block content %}
  <ul class="nav nav-tabs nav-justified">
    <li{% if bookmark == 'liked' %} class="active"{% endif %}><a href="/bookmarks/liked">Liked articles</a></li>
    <li{% if bookmark == 'viewed' %} class="active"{% endif %}><a href="/bookmarks/viewed">Recently viewed</a></li>
  </ul>

  {% for article in articles %}
    <div>{{ article.title }}, likes: {{ article.get_likes_count }}</div>
  {% empty %}
    <div>Nothing</div>
  {% endfor %}
{% endblock %}

