{% extends 'base/base.html' %}

{% block content %}
  <h2>Search results</h2>

  {% if query %}

  {% for result in page.object_list %}
    {% with article=result.object %}
      {% include 'bookmarks/_article_minimal.html' %}
    {% endwith %}
  {% empty %}
    <div class="gray">No results found.</div>
  {% endfor %}

  {% if page.has_previous or page.has_next %}
  <div>
    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
    |
    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
  </div>
  {% endif %}
  {% else %}
  {# Show some example queries to run, maybe query syntax, something else? #}
  {% endif %}
{% endblock %}
