<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="article-title">
      <a href="{% url 'articles_recent' article.category %}">{{ article.category }}</a>
      | {{ article.title }}
      {% if article.important %}
        <span class="label label-danger pull-right">important</span>
      {% endif %}
    </h4>
  </div>

  <div class="panel-body">
    <div class="article-preview">
      {% if article.picture %}
      <div class="article-preview-image">
        <div class="image-wrapper image-big-wrapper">
          {% load staticfiles %}
          <img class="image" src="{{ article.picture.url }}"></img>
        </div>
      </div>
      {% endif %}

      <div class="article-preview-body">
        {% include 'articles/_info.html' %}
        <div class="annotation">
          {{ article.annotation }}
        </div>
        {% include 'articles/_footer.html' %}
      </div>
    </div>
  </div>
</div>
<hr>
