<div class="comment">
  <hr>
  <div class="row">
    <div class="media col-md-10 comment-body">
      <a class="pull-left" href="{% url 'user' comment.user.pk %}">
        <img class="media-object avatar-middle" src="{{ comment.user.gravatar_url_medium }}" alt="Avatar">
      </a>
      <div class="media-body">
        <h4 class="media-heading">{% if comment.user.full_name != '' %}{{ comment.user.full_name }}{% else %}{{ comment.user.user.username }}{% endif %}</h4>
        <div><pre>{{ comment.body }}</pre></div>
        <div class="small gray">{{ comment.created }}</div>
      </div>
    </div>
    <div class="col-md-10 comment-buttons">
      <div class="btn-group-vertical">
        {% if not user.is_authenticated %}
        <a class="like-button btn btn-default" role="button" href="{% url 'sign_in' %}">
          <span>Like&emsp;</span>
          <span class="glyphicon glyphicon-heart"></span>
          <span class="like-counter">{{ comment.get_likes_count }}</span>
        </a>
        {% else %}
        <a class="like-button btn {% if comment.liked %} btn-danger liked {% else %} btn-default {% endif %}" role="button" data-url="{% url 'comments_like' comment.id %}">
          <span>Like&emsp;</span>
          <span class="glyphicon glyphicon-heart"></span>
          <span class="like-counter">{{ comment.get_likes_count }}</span>
        </a>
        {% endif %}
      </div>
    </div>
  </div>
  <hr>
</div>
