<div class="article-preview-footer">
  <div class="article-footer-button-group btn-group btn-group-justified">
    <a class="btn btn-default" role="button" href="{{ article.get_absolute_url }}">Read</a>
    <a class="btn btn-default pdf-button" role="button" href="{% url 'articles_pdf' article.id %}" target="_blank">Generate PDF</a>
    {% if not user.is_authenticated %}
    <a class="like-button btn btn-default" role="button" href="{% url 'sign_in' %}">
      <span>Like&emsp;</span>
      <span class="glyphicon glyphicon-heart"></span>
      <span class="like-counter">{{ article.get_likes_count }}</span>
    </a>
    {% else %}
    <a class="like-button btn {% if article.liked %} btn-danger liked {% else %} btn-default {% endif %}" role="button" data-url="{% url 'articles_like' article.id %}">
      <span>Like&emsp;</span>
      <span class="glyphicon glyphicon-heart"></span>
      <span class="like-counter">{{ article.get_likes_count }}</span>
    </a>
    {% endif %}
  </div>
</div>
