<div class="article-info well">
  <span>Published: <b>{{ article.published | date:"M d, Y" }}</b></span>
  <span> | Views: <b>{{ article.get_views_count }}</b></span>

  {% if article.tags.all %}
  <span class="article-tags">
    <span class="glyphicon glyphicon-tags"></span>
    {% for tag in article.tags.all %}
      <a href="/search?q={{ tag }}"><span class="tag label label-success">{{ tag }}</span></a>
    {% endfor %}
  </span>
  {% endif %}
</div>
