<ul class="pager">
  {% if articles.paginator.num_pages > 1 %}
    {% if articles.has_previous %}
      <li class="previous">
        <a href="?page={{ articles.previous_page_number }}">
          &larr; Previous
        </a>
      </li>
    {% else %}
      <li class="previous disabled"><a href="#">&larr; Previous</a></li>
    {% endif %}

    <li class="disabled"><a href="#">Page {{ articles.number }} of {{ articles.paginator.num_pages }}</a></li>

    {% if articles.has_next %}
      <li class="next">
        <a href="?page={{ articles.next_page_number }}">Next &rarr;
        </a>
      </li>
    {% else %}
      <li class="next disabled"><a href="#">Next &rarr;</a></li>
    {% endif %}
  {% endif %}
</ul>
<hr id="pagination-hr">