<div class="article-share">
  <div class="fb-share-button" data-href="http://{{ request.get_host }}{{ article.get_absolute_url }}" data-type="button_count"></div>
  <div class="twitter-share-button">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://{{ request.get_host }}{{ article.get_absolute_url }}" data-text="{{ article.title }}" data-hashtags="about">
      Tweet
    </a>
  </div>
</div>
