{% extends 'base/base_with_categories.html' %}
{% load more_like_this %}

{% block title %}About | Article{% endblock %}

{% block content %}
  {% for article in articles %}
    <div class="row article-segment">
      <div class="row page-header">
        <h2 class="article-full-title">
          {{ article.title }}
        </h2>
        {% if article.important %}
          <h2 class="article-full-important"><span class="label label-danger pull-right">Important</span></h2>
        {% endif %}
      </div>

      <div class="article-full-right">
        {% if article.picture %}
        <a href="#" data-toggle="modal" data-target="#article-image-modal">
          <div class="image-wrapper image-article-wrapper">
            <img class="image" src="{{ article.picture.url }}">
          </div>
        </a>

        <div class="modal" id="article-image-modal" tabindex="-1" role="dialog" aria-labelledby="article-image-modal-label" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="article-image-modal-label">{{ article.title }}</h4>
              </div>
              <div class="modal-body text-center">
                <img class="image-modal" src="{{ article.picture.url }}"></img>
              </div>
            </div>
          </div>
        </div>
        {% endif %}

        {% if related_content %}
          <div class="related-articles panel panel-default">
            <div class="panel-heading">Related articles</div>
            <ul class="list-group">
              {% for related in related_content %}
                <li class="list-group-item"><a href="{% url 'article' related.id %}">{{ related.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>

      <div class="article-full-left">
        {% include 'articles/_info.html' %}
        <div class="body">
          {{ article.body | safe }}
        </div>
        <div class="article-full-footer">
        <hr>
          {% include 'articles/_share.html' %}
          <div class="article-full-button-group btn-group">
            <a class="btn btn-default pdf-button" role="button" href="{% url 'articles_pdf' article.id %}" target="_blank">Generate PDF</a>
            {% if not user.is_authenticated %}
            <a class="like-button btn btn-default" role="button" href="{% url 'sign_in' %}">
              <span>Like&emsp;</span>
              <span class="glyphicon glyphicon-heart"></span>
              <span class="like-counter">{{ article.get_likes_count }}</span>
            </a>
            {% else %}
            <a class="like-button btn {% if article.liked %} btn-danger liked {% else %} btn-default {% endif %}" role="button" data-url="{% url 'articles_like' article.id %}">
              <span>Like&emsp;</span>
              <span class="glyphicon glyphicon-heart"></span>
              <span class="like-counter">{{ article.get_likes_count }}</span>
            </a>
            {% endif %}
          </div>
        <hr>
        </div>
      </div>

      <hr>

      <div class="comments-container pull-left">
        <div class="comment-form jumbotron">
          {% if user.is_authenticated %}
            <form action="{% url 'articles_comment' article.pk %}" method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button class="btn btn-lg btn-primary" type="submit">Add a comment</button>
            </form>
          {% else %}
            <div><a href="{% url 'sign_in' %}">Sign in</a> or <a href="{% url 'sign_up' %}">Sign up</a> if you want post some comments.</div>
          {% endif %}
        </div>

        {% if article.comments.exists %}
          <div class="row comments-segment">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    Comments
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                  {% for comment in comments %}
                    {% include 'articles/_comment.html' %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        {% else %}
          <h3 class="no-comments-message">There are still no comments for this article...</h3>
          <hr>
        {% endif %}
        </div>
      </div>

  {% endfor %}

{% endblock %}
