{% extends 'base/base_with_categories.html' %}

{% block title %}About | Articles{% endblock %}

{% block content %}

<ul class="nav nav-tabs nav-justified">
  <li{% ifequal sort_method 'recent' %} class="active"{% endifequal %}><a href="{% url 'articles_recent' %}{% if category %}{{ category }}{% endif %}">RECENT</a></li>
  <li{% ifequal sort_method 'popular' %} class="active"{% endifequal %}><a href="{% url 'articles_popular' %}{% if category %}{{ category }}{% endif %}">POPULAR</a></li>
  <li{% ifequal sort_method 'most_viewed' %} class="active"{% endifequal %}><a href="{% url 'articles_most_viewed' %}{% if category %}{{ category }}{% endif %}">MOST VIEWED</a></li>
  <li class="divider"></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      OUTPUT SETTINGS<span class="caret"></span>
    </a>
    <ul class="dropdown-menu pull-right" role="menu">
      <li>
        <a>
          <input id="important-only" type="checkbox"{% if important_only == 'true' %} checked{% endif %} rel="popover" data-content="Server error" data-placement="bottom">
          IMPORTANT ONLY
        </a>
      </li>
      <li class="divider"></li>
      <li>
        <a>
          <input id="inverse" type="checkbox"{% if inverse == 'true' %} checked{% endif %} rel="popover" data-content="Server error" data-placement="bottom">
          REVERSED
        </a>
      </li>
    </ul>
  </li>
</ul>

{% for article in articles %}
  {% include 'articles/_article.html' %}
{% endfor %}

{% include 'articles/_pagination.html' %}

{% endblock %}
