{% extends 'base/base.html' %}

{% block title %}About | Bookmarks{% endblock %}

{% block content %}
  <ul class="nav nav-tabs nav-justified">
    <li{% if bookmark == 'liked' %} class="active"{% endif %}><a href="{% url 'bookmarks_liked' %}">Liked articles</a></li>
    <li{% if bookmark == 'viewed' %} class="active"{% endif %}><a href="{% url 'bookmarks_viewed' %}">Recently viewed</a></li>
  </ul>

  {% for article in articles %}
    {% include 'bookmarks/_article_minimal.html' %}
  {% empty %}
    <div class="gray">Nothing</div>
  {% endfor %}
{% endblock %}

