{% extends 'base/base.html' %}

{% block title %}About | Notifications{% endblock %}

{% block content %}
  {% if notifications %}
    <div class="jumbotron">
    <form method="post" action="">
      {% csrf_token %}
      <div class="panel panel-default">
        <table  class="table">
          <tr>
            <th>Theme</th>
            <th>Body</th>
            <th>Viewed</th>
          </tr>
          {% for notification in notifications %}
          <tr>
            <td>{{ notification.message.theme }}</td>
            <td>{{ notification.message.body }}</td>
            <input type="hidden" name="message_{{ notification.id }}" value="off">
            <td><input type="checkbox" name="message_{{ notification.id }}" {% if notification.viewed %}checked {% endif %}value="on"></td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <button class="btn btn-primary btn-block btn-update" type="submit">Save</button>
    </form>
    </div>
  {% else %}
    <div>Nothing</div>
  {% endif %}
{% endblock %}

