{% extends 'base/base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
      <div class="profile-edit-picture-block">
        <div class="image-wrapper image-avatar-wrapper">
          <img class="avatar-big" src="{{ profile.gravatar_url_big }}"></img>
        </div>
        <div class="btn-group-vertical">
          <a class="btn btn-default" role="button" href="http://gravatar.com" target="_blank">Change avatar at gravatar.com</a>
          <a class="btn btn-default" role="button" href="{% url 'django.contrib.auth.views.password_change' %}">Change password</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="profile-edit-form">
        <form action="/profile/" method="post">
          {% csrf_token %}
          {% for field in form.visible_fields %}
            <div class="fieldWrapper">
              {% if field.errors %}
              <div class="alert alert-danger alert-dismissable">
                 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                 {{ field.errors }}
              </div>
              {% endif %}
              {{ field.label_tag }} {{ field }}
            </div>
          {% endfor %}
          <button class="btn btn-primary btn-block btn-update" type="submit">Update profile</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
