{% extends 'base/base.html' %}

{% block content %}

<div class="jumbotron">
  {% if form.errors %}
    <div class="alert alert-warning alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <span>Your username and password didn't match. Please try again.</span>
    </div>
  {% endif %}

  <form class="form-signin" method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}
    <h2 class="form-signin-heading">Please sign in</h2>

    <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>

    <input type="password" name="password" class="form-control" placeholder="Password" required>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

    <input type="hidden" name="next" value="/" />
  </form>
</div>
{% endblock %}

