{% extends 'base/base.html' %}

{% block content %}

<div class="jumbotron">
  <form class="form-signup" role="form" action="/sign_up/" method="post">
    {% csrf_token %}
    <h2 class="form-signup-heading">Please sign up</h2>

    {% if form.username.errors  %}
      <div class="alert alert-danger alert-dismissable">
         <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
         {{ form.username.errors }}
      </div>
    {% endif %}
    <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>

    {% if form.email.errors  %}
      <div class="alert alert-danger alert-dismissable">
         <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
         {{ form.email.errors }}
      </div>
    {% endif %}
    <input type="email" name="email" class="form-control" placeholder="Email" required autofocus>

    {% if form.password2.errors  %}
      <div class="alert alert-danger alert-dismissable">
         <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
         {{ form.password2.errors }}
      </div>
    {% endif %}
    <input type="password" name="password1" class="form-control" placeholder="Password" required>

    <input type="password" name="password2" class="form-control" placeholder="Password confirmation" required>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
  </form>
</div>

{% endblock %}
