{% extends 'base/base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

<div class="jumbotron">
  <div class="row">
    <h2 class="user-header">Profile of <b>{{ user_info.user.username }}</b></h2>
    <div class="col-md-6">
      <div class="user-picture-block">
        <div class="image-wrapper image-avatar-wrapper">
          <img class="avatar-big" src="{{ user_info.gravatar_url_big }}"></img>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="user-info">
        {% if user_info.full_name %}<p>Full name:&emsp;<b>{{ user_info.full_name }}</b></p>{% endif %}
        {% if user_info.telephone %}<p>Telephone number:&emsp;<b>{{ user_info.telephone }}</b></p>{% endif %}
        {% if user_info.email %}<p>Email:&emsp;<b>{{ user_info.email }}</b></p>{% endif %}
        {% if user_info.birth_date %}<p>Birth date:&emsp;<b>{{ user_info.birth_date | date:"M d, Y"  }}</b></p>{% endif %}
        <p>Join date:&emsp;<b>{{ user_info.user.date_joined | date:"M d, Y" }}</b></p>
      </div>
    </div>
  </div>
</div>

{% endblock %}